@import "tailwindcss";

:root {
    --font-heading: ;
    --font-body: ;
}

body {
    height: 150vh;
}

/* TEMP */
/* .ball {
    width: 64px;
    height: 64px;
    background: red;
    border-radius: 50%;
    margin-top: 2rem;
  } */


/* components */

/* hero animation */
#skeleton {
    animation: fadeInUp .8s;
}

#bolts g {
    opacity: 0;
    animation: dropIn 6s ease forwards;
    animation-delay: calc(var(--order) * 200ms);
}

#hero-title {
    animation: slideIn 2s;
    max-width: fit-content;
}

#hero-excerpt {
    animation: fadeInUp 1s;
}

#hero-cto {
    animation: fadeInUp 1s;
}

#trail-card {
    animation: fadeInUp 5s;
}

@keyframes fadeInUp {

    from {
        opacity: 0;
        transform: translateY(8%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes dropIn {
    20% {
        opacity: 0;
        transform: translateY(-5%);
    }

    30%,
    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes fadeIn {
    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@keyframes slideIn {
    0% {
        width: 0%;
        height: 3.5rem;
    }

    

    100% {
        width: 100%;
        height: 3.5rem;
    }

}


/* the effect on the header comes from Josh Comeau https://www.joshwcomeau.com/css/backdrop-filter/ */
header {
    --thickness: 4px;
    position: sticky;
    top: 0;
    /*
      Very opaque, for unsupported browsers.
      Overwritten in the feature queries below.
    */
    background: hsl(0deg 0% 100% / 0.95);
    z-index: 2;
}

/*
    This code gets applied for folks using
    browsers that support backdrop-filter.
  */
@supports (backdrop-filter: blur(16px)) or (-webkit-backdrop-filter: blur(16px)) {
    header {
        background: hsl(0deg 0% 100% / 0.5);
    }

    .backdrop {
        position: absolute;
        inset: 0;
        z-index: -2;
        /*
        These prefixed properties are usually
        added automatically by tooling:
      */
        -webkit-backdrop-filter: blur(16px);
        backdrop-filter: blur(16px);
        background: linear-gradient(to bottom,
                hsl(0deg 0% 95%),
                transparent 40%);
        pointer-events: none;
    }

    .backdrop-edge {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: var(--thickness);
        background: hsl(0deg 0% 100% / 0.1);
        -webkit-backdrop-filter: blur(12px) brightness(0.96);
        backdrop-filter: blur(12px) brightness(0.96);
        transform: translateY(100%);
        pointer-events: none;
        z-index: -1;
    }
}

/*
    This code gets applied for folks using
    browsers that support mask-image. This
    adds the "consider near elements"
    optimization discussed in this article.
  */
@supports (mask-image: none) or (-webkit-mask-image: none) {
    .backdrop {
        height: 200%;
        -webkit-mask-image: linear-gradient(to bottom,
                black 0% 50%,
                transparent 50% 100%);
        mask-image: linear-gradient(to bottom,
                black 0% 50%,
                transparent 50% 100%);
    }

    .backdrop-edge {
        height: 100%;
        inset: 0;
        -webkit-mask-image: linear-gradient(to bottom,
                black 0,
                black var(--thickness),
                transparent var(--thickness));
        mask-image: linear-gradient(to bottom,
                black 0,
                black var(--thickness),
                transparent var(--thickness));
    }
}

.current-page {
    opacity: 100%;
    border-bottom: solid 4pt rgba(30, 64, 175);
}